[Unit]
Description=Apache Hadoop YARN Resource Manager
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/systemd/system/hadoop-yarn-resourcemanager.service.d/default.conf
ExecStart=/usr/hdp/current/hadoop-yarn-resourcemanager/../hadoop-yarn/sbin/yarn-daemon.sh --config /usr/hdp/current/hadoop-yarn-resourcemanager/../hadoop/conf start resourcemanager
Group=yarn
Restart=on-failure
Type=forking
User=yarn

[Install]
WantedBy=multi-user.target
